.pageHead--home {
  background-image: radial-gradient(circle farthest-side at left bottom, $mellow-apricot 0%, $lavender 100%);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    opacity: 0.1;
    background-image: linear-gradient(-180deg, rgba($black, 0) 0%, $black 100%);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/pattern.svg");
    background-size: 100%;
    background-repeat: repeat;
    z-index: 0;
  }

  h1 {
    padding: 122px 0 32px;
    color: $white;

    @include break(s) {
      padding: 186px 0 32px;
    }
  }
}

.pageHead__form {
  padding: 15px 0 208px;
  position: relative;
}

.pageHead__search {
  position: relative;
  padding: 12px 24px 10px;
  background: $white;
  border: 1px solid $alice-blue;
  box-shadow: 0 4px 10px 0 rgba($black, 0.05);
  border-radius: 4px;
  width: 100%;
  max-width: 780px;
  cursor: text;
  transition: box-shadow .8s cubic-bezier(.2, 1, .25, 1);

  svg {
    position: absolute;
    top: 22px;
    right: 23px;
    left: auto;
    opacity: .5;

    @include break(s) {
      top: 22px;
      left: 23px;
      right: auto;
    }
  }

  @include break(s) {
    padding: 12px 0 10px 24px;
  }

  &.active {
    box-shadow: 0 5px 15px 0 rgba($black, 0.07), 0 15px 35px 0 rgba(49,49,93,0.09), 0 0 0 1px rgba(136,152,170,0.09);
  }
}

.pageHead__input {
  border: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font-family: "Axiforma";
  font-size: 18px;
  line-height: 40px;
  color: $space-cadet;
  letter-spacing: -0.5px;
  margin: 0 41px 0 0;
  padding: 0;
  width: calc(100% - 41px);
  position: relative;

  @include break(s) {
    font-size: 24px;
    margin: 0 0 0 41px;
  }

  @include placeholder {
    color: rgba($space-cadet, .2);
    letter-spacing: -0.5px;
  }
}

.pageHead__searchResult {
  margin: 16px 0;
  box-shadow: 0 4px 10px 0 rgba($black, 0.05);
  width: 100%;
  max-width: 780px;
  border-radius: 4px;
  top: auto;
}

.pageHead .js-searchHidden {
  transform: translateY(16px);
}

.pageHead .search__cancelButton {
  top: 9px;
  right: 50px;

  @include break(s) {
    right: 10px;
  }
}

.home__cards {
  margin: 128px auto;

  .container {
    background-color: $white;
    padding: 80px 0;
    position: static;
  }
}
