.pageHead {
  position: relative;

  .container {
    position: relative;
    z-index: 1;

    @include break(s) {
      padding: 0 64px;
    }

    @include break(l) {
      padding: 0;
    }
  }
}

.pageHead--category {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 64px;

  &::before {
    content: "";
    position: absolute;
    // top: 64px;
    top: 0;
    width: 100%;
    // height: 35%;
    height: 45%;
    background-image: linear-gradient(-180deg, rgba($black, .25) 0%, rgba($black, .25) 22.2%, rgba($black, 0) 100%);
    z-index: 0;
  }

  h1,
  h4 {
    color: $white;
    width: 100%;
    max-width: 520px;
    margin: 0;
  }

  h1 {
    margin-bottom: 46px;
  }

  h4 {
    margin-bottom: 36px;

    @include break(m) {
      margin-bottom: 53px;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    color: $white;
    margin-bottom: 12px;
    height: 80px;
    line-height: 82px;
    margin: 0;

    span {
      display: none;

      @include break(s) {
        display: inline;
      }
    }
  }
}

.pageHead__navWrapper {
  overflow: hidden;
  margin-right: -20px;
}

.pageHead__nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid rgba($white, .6);
}

.pageHead__navTitle {
  flex-grow: 1;
}

.pageHead__navLinks {
  display: flex;
  // overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  right: -12px;
  mask-image: linear-gradient(90deg, transparent, rgba($black, 1) 32px, rgba($black, 1) calc(100% - 32px), transparent 100%);
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;

  a:first-child {
    padding-left: 32px;
  }

  a:last-child {
    padding-right: 32px;
  }
}

.pageHead__navLinks::-webkit-scrollbar {
  display: none;
}

.pageHead__link {
  display: inline-block;
  text-decoration: none;
  padding: 0 12px;
  font-size: 12px;
  color: $white;
  letter-spacing: 0.3px;
  white-space: nowrap;
  line-height: 82px;
  margin: 0;
  height: 80px;
  font-weight: 300;
  transition: color 0.6s cubic-bezier(0.2, 1, 0.25, 1);

  &:hover,
  &--active {
    color: rgba($white, .6);
  }
}

.pageHead__content {
  padding-left: 0;
  padding-top: 100px;
  padding-bottom: 157px;

  @include break(l) {
    padding-left: 130px;
    padding-top: 100px;
    padding-bottom: 157px;
  }
}

.pageHead--design {
  background-image: url("../img/page-design.png");

  @include media-2x {
    background-image: url("../img/page-design@2x.png");
  }

  @include media-3x {
    background-image: url("../img/page-design@3x.png");
  }
}

.pageHead--devWeb {
  background-image: url("../img/page-devWeb.png");

  @include media-2x {
    background-image: url("../img/page-devWeb@2x.png");
  }

  @include media-3x {
    background-image: url("../img/page-devWeb@3x.png");
  }
}

.pageHead--devMobile {
  background-image: url("../img/page-devMobile.png");

  @include media-2x {
    background-image: url("../img/page-devMobile@2x.png");
  }

  @include media-3x {
    background-image: url("../img/page-devMobile@3x.png");
  }
}

.pageHead--learn {
  background-image: url("../img/page-learn.png");

  @include media-2x {
    background-image: url("../img/page-learn@2x.png");
  }

  @include media-3x {
    background-image: url("../img/page-learn@3x.png");
  }
}

.pageHead--tools {
  background-image: url("../img/page-tools.png");

  @include media-2x {
    background-image: url("../img/page-tools@2x.png");
  }

  @include media-3x {
    background-image: url("../img/page-tools@3x.png");
  }
}

.pageHead--dev {
  .pageHead__content {
    padding-left: 0;
    padding-top: 155px;
    padding-bottom: 175px;
    display: block;

    @include break(m) {
      display: flex;
      padding-bottom: 175px;
    }
  }

  .pageHead__left,
  .pageHead__right {
    width: 100%;
    padding-bottom: 120px;

    @include break(m) {
      width: 520px;
      padding-bottom: 0;
    }
  }

  .pageHead__right {
    padding-left: 0;
    padding-top: 120px;
    padding-bottom: 0;

    @include break(m) {
      padding-left: 65px;
      padding-top: 0;
    }

    @include break(l) {
      padding-left: 130px;
      padding-top: 0;
    }
  }

  h1 {
    max-width: 390px;
    margin-bottom: 46px;
  }

  .button--ghost::after {
    transform: none;
  }

  .button--ghost:hover {
    &::after {
      animation: buttonArrow .8s cubic-bezier(.2, 1, .25, 1);
    }
  }

  .pageHead__splitBg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .pageHead__skewBg {
    transform: skew(12deg);
  }

  .pageHead__splitLeft,
  .pageHead__splitRight {
    position: relative;
    height: 55%;
    left: -25%;
    width: 145%;
    transform: skew(-12deg);
    overflow: hidden;

    @include break(m) {
      position: absolute;
      height: auto;
      top: 0;
      bottom: 0;
      left: -8%;
      width: 60%;
    }

    @include break(l) {
      left: -6%;
      width: 56%;
    }

    .pageHead__skewBg {
      position: relative;
      height: 100%;
      left: 25vw;
      width: 100vw;
      background-size: cover;
      background-position: 50%, 50%;
      background-image: url("../img/page-devWebSmall.png");

      @include media-2x {
        background-image: url("../img/page-devWebSmall@2x.png");
      }

      @include media-3x {
        background-image: url("../img/page-devWebSmall@3x.png");
      }

      @include break(m) {
        position: absolute;
        height: auto;
        left: 8vw;
        width: 58vw;
        top: 0;
        bottom: 0;
      }

      @include break(l) {
        left: 6vw;
        width: 58vw;
      }
    }
  }

  .pageHead__splitRight {
    height: 45%;

    @include break(m) {
      left: 50%;
      height: auto;
    }

    .pageHead__skewBg {
      left: 25vw;
      width: 105vw;
      background-image: url("../img/page-devMobileSmall.png");

      @include media-2x {
        background-image: url("../img/page-devMobileSmall@2x.png");
      }

      @include media-3x {
        background-image: url("../img/page-devMobileSmall@3x.png");
      }

      @include break(m) {
        left: -9vw;
        width: 59vw;
      }

      @include break(l) {
        left: -8vw;
        width: 58vw;
      }
    }
  }
}

.pageHead--about,
.pageHead--contact {
  background-color: $space-cadet;
  background-image: url("../img/pattern-white.svg"), radial-gradient(circle farthest-side at left bottom, rgba($white, .1) 0%, rgba($white, 0) 100%);
  background-size: 300%, 100%;
  background-repeat: no-repeat, repeat;
  background-position: 32px, 0;

  @include break(l) {
    background-size: 100%;
  }

  &::before {
    content: none;
  }

  .pageHead__content {
    padding-top: 194px;
    padding-bottom: 324px;
  }

  h1 {
    margin-bottom: 0;

    br {
      display: block;

      @include break(s) {
        display: none;
      }
    }
  }
}

.pageHead--contact {
  .pageHead__content {
    padding-top: 194px;
    padding-bottom: 264px;
  }
}

.pageHead--contribute {
  margin-top: 64px;
  padding-top: 0;
  background-color: $neon-carrot;
  background-image: radial-gradient(circle farthest-side at right bottom, rgba($white, .1) 0%, rgba($white, 0) 100%);

  &::before {
    display: none;
  }

  h1,
  h4 {
    max-width: 390px;
  }

  h4 {
    margin-bottom: 22px;
  }

  .pageHead__content {
    z-index: 1;
    position: relative;
    padding-top: 128px;
    padding-bottom: 139px;
    background-size: cover;
    background-position: 50%, 50%;
    background-image: url("../img/contribute-grid.png");

    @include media-2x {
      background-image: url("../img/contribute-grid@2x.png");
    }

    @include media-3x {
      background-image: url("../img/contribute-grid@3x.png");
    }
  }
}

.contributeAnim {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 40px;
  right: 22.4%;
  top: 50%;
  transform: translateY(-50%);
  background: $white;
  background-image: linear-gradient(-180deg, rgba($black, 0) 0%, rgba($black, 0.15) 100%);

  @include break(s) {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -109px;
    left: -109px;
    width: 256px;
    height: 256px;
    display: block;
    border-radius: 256px;
    background-image: radial-gradient(ellipse at center, rgba($white, 0) 0%, rgba($white, 0) 40%, rgba($white, 0.08) 100%);
    border: 1px solid rgba($white, 0.10);
    box-shadow: 0 16px 64px 0 rgba($black, 0.10), 0 16px 96px 0 rgba(11,40,79,0.10);
    animation: rippleGrow 3.2s cubic-bezier(0.2, 1, 0.25, 1) infinite;
  }
}

@keyframes rippleGrow {
  0% {
    transform: scale(0);
    background-image: radial-gradient(ellipse at center, rgba($white, 0) 0%, rgba($white, 0) 20%, rgba($white, 0.12) 100%);
    border: 1px solid rgba($white, 0.10);
    box-shadow: 0 16px 64px 0 rgba($black, 0.10), 0 16px 96px 0 rgba(11,40,79,0.10);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
    background-image: radial-gradient(ellipse at center, rgba($white, 0) 0%, rgba($white, 0) 20%, rgba($white, 0.12) 100%);
    border: 1px solid rgba($white, 0.05);
    box-shadow: 0 16px 64px 0 rgba($black, 0), 0 16px 96px 0 rgba(11,40,79,0);
  }
}

.partners {
  max-width: 520px;
  margin: 48px auto 0;
}

.partner {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  height: 48px;
  margin-right: 48px;
  margin-top: 48px;

  &--heaj {
    background-image: url("../img/heaj.svg");
    width: 164px;
  }

  &--dwm {
    background-image: url("../img/dwm.svg");
    width: 143px;
  }
}

.article {
  &__title {
    padding: 0 32px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 64px;

    &--codex {
      background-image: url("../img/article-codex.jpg");

      @include media-2x {
        background-image: url("../img/article-codex@2x.jpg");
      }

      @include media-3x {
        background-image: url("../img/article-codex@3x.jpg");
      }
    }

    &--impairments {
      background-image: url("../img/article-impairments.jpg");

      @include media-2x {
        background-image: url("../img/article-impairments@2x.jpg");
      }

      @include media-3x {
        background-image: url("../img/article-impairments@3x.jpg");
      }
    }

    &--laws {
      background-image: url("../img/article-laws.jpg");

      @include media-2x {
        background-image: url("../img/article-laws@2x.jpg");
      }

      @include media-3x {
        background-image: url("../img/article-laws@3x.jpg");
      }
    }

    &--resources {
      background-image: url("../img/article-resources.jpg");

      @include media-2x {
        background-image: url("../img/article-resources@2x.jpg");
      }

      @include media-3x {
        background-image: url("../img/article-resources@3x.jpg");
      }
    }

    &--guidelines {
      background-image: url("../img/article-guidelines.jpg");

      @include media-2x {
        background-image: url("../img/article-guidelines@2x.jpg");
      }

      @include media-3x {
        background-image: url("../img/article-guidelines@3x.jpg");
      }
    }

    > * {
      z-index: 1;
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, .3);
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 32px;
      right: 0;
      bottom: 0;
      height: 80px;
      background-color: $white;
      z-index: 1;

      @include break(s) {
        left: calc(130px + 32px);
      }

      @include break(m) {
        left: 130px;
      }
    }

    h1 {
      margin-left: 0;
      max-width: 390px;
      color: $white;
      padding: 130px 0 227px;

      @include break(s) {
        margin-left: 130px;
      }

      @include break(m) {
        margin-left: 228px;
      }
    }

    h3 {
      font-weight: 400;
      font-size: 20px;
      color: $white;
      margin-bottom: 12px;
      height: 80px;
      line-height: 82px;
      margin: 0;
    }

    nav {
      @include break(s) {
        padding: 0 32px;
      }

      @include break(m) {
        padding: 0;
      }
    }

    .pageHead__nav {
      position: relative;
      border: 0;

      &::after {
        content: "";
        background-color: rgba($white, .6);
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        @include break(m) {
          left: -32px;
          right: -32px;
        }
      }
    }
  }

  &__content {
    padding-top: 120px;
    background-color: $white;
    padding-bottom: 120px;
    overflow: hidden;
    position: relative;
    z-index: 0;

    margin-left: -32px;
    margin-right: -32px;
    padding-left: 32px;
    padding-right: 32px;

    @include break(l) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }

    h2 {
      max-width: 520px;
      margin: 48px auto;
    }

    h3 {
      max-width: 520px;
      margin: 24px auto 12px;
    }

    p,
    ul {
      max-width: 520px;
      margin: 24px auto;
      letter-spacing: 0.2px;
    }

    ul {
      padding-left: 16px;

      li {
        padding-left: 8px;
        line-height: 32px;
        font-weight: 300;
        font-size: 16px;
        color: $jet;

        b {
          font-weight: 400;

          a {
            border-bottom-width: 2px;
          }
        }

        a {
          color: lighten($space-cadet, 20);
          text-decoration: none;
          border-bottom: 1px solid currentColor;
          position: relative;
        }
      }

      b {
        font-weight: 400;
      }
    }

    > p {
      @include break(m) {
        margin-top: 0;
      }
    }

    &.close {
      padding-top: 0;
    }

    .dark {
      margin: 96px auto;
      padding: 96px 0;
      z-index: 0;
      position: relative;

      @include break(s) {
        margin: 128px auto;
        padding: 128px 0;
      }

      &::before {
        content: "";
        background-color: $neon-carrot;
        top: 0;
        bottom: 0;
        left: -32px;
        right: -32px;
        position: absolute;
        z-index: -1;

        @include break(s) {
          left: 0;
        }

        @include break(m) {
          left: 130px;
          right: 0;
        }
      }

      &--neon::before {
        background-color: $neon-carrot;
      }

      &--jet::before {
        background-color: darken($jet, 5);
      }

      &--space::before {
        background-color: darken($space-cadet, 5);
      }

      &--design::before {
        background-color: darken($design, 65);
      }

      &--dev::before {
        background-color: darken($dev, 40);
      }

      &--tools::before {
        background-color: darken($tools, 42);
      }

      &--learn::before {
        background-color: darken($learn, 43);
      }

      h2:first-child {
        margin-top: 0;
      }

      h2,
      h3 {
        color: $white;
      }

      p {
        color: $white;
        font-weight: 100;
      }

      .img {
        margin: 96px 0;
        overflow: hidden;
        height: 60vh;
        margin-left: -32px;
        margin-right: -32px;

        @include break(s) {
          margin-left: 0;
        }

        @include break(m) {
          margin-left: 130px;
          margin-right: 0;
        }

        img {
          max-height: 60vh;
          min-width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .article__content {
    padding-top: 0;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;

    @include break(s) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .container {
    padding: 0;

    @include break(m) {
      padding: 0 32px;
    }

    @include break(l) {
      padding: 0;
    }
  }
}

.checklist,
.resources {
  max-width: 520px;
  margin: 0 auto;
}

.resources {
  max-width: 780px;
  display: flex;
  flex-wrap: wrap;
}

.resource {
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba($black, 0.07), 0 2px 5px 0 rgba(49,49,93,0.09);
  border-radius: 4px;
  flex-basis: calc((100% + 16px) / 2 - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 1.2s cubic-bezier(0.2, 1, 0.25, 1);

  @include break(s) {
    flex-basis: calc((100% + 16px) / 3 - 16px);
  }

  @include break(m) {
    flex-basis: calc((100% + 16px) / 4 - 16px);
  }

  &:nth-child(2n) {
    margin-right: 0;

    @include break(s) {
      margin-right: 16px;
    }
  }

  &:nth-child(3n) {
    @include break(s) {
      margin-right: 0;
    }

    @include break(m) {
      margin-right: 16px;
    }
  }

  &:nth-child(4n) {
    @include break(m) {
      margin-right: 0;
    }
  }

  &:hover {
    box-shadow: 0 7px 14px 1px rgba(50,50,93,0.10), 0 3px 6px 1px rgba($black, 0.07);
  }

  &__top {
    padding-bottom: 100%;
    position: relative;

    h5 {
      position: absolute;
      left: 16px;
      top: -2px;
    }

    &--doc {
      background-color: rgba($design, .1);
    }

    &--tool {
      background-color: rgba($tools, .15);
    }

    &--sr {
      background-color: rgba($learn, .2);
    }
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 80%;
      max-height: 30%;
    }
  }

  &__desc {
    padding: 10px 16px 16px;

    h3 {
      margin: 0 0 6px;
      font-size: 14px;
      line-height: 20px;
    }

    p {
      margin: 6px 0 0;
      font-size: 12px;
      line-height: 16px;
    }
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
  }
}
