<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>@@page-title</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="https://signo.mathieudelvaux.be@@og-url">
<meta property="og:type" content="website">
<meta property="og:title" content="@@page-title">
<meta property="og:description" content="@@og-desc">
<meta property="og:image" content="https://link.tld/og.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="@@page-title">
<meta name="twitter:description" content="@@og-desc">
<meta name="twitter:site" content="@mathieudelvaux">
<meta name="twitter:creator" content="@mathieudevaux">

<link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="@@webRoot/assets/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="@@webRoot/assets/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="@@webRoot/assets/favicon/manifest.json">
<link rel="mask-icon" href="@@webRoot/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="@@webRoot/assets/favicon/favicon.ico">
<link rel="mask-icon" href="@@webRoot/assets/favicon/safari-pinned-tab.svg" color="#bc994e">

<meta name="apple-mobile-web-app-title" content="signo">
<meta name="application-name" content="signo">
<meta name="msapplication-config" content="@@webRoot/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="@@webRoot/assets/styles/main.css?ver=0">
