* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Axiforma", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-weight: 400;
  background-color: $alice-blue;
  background-image: url("../img/pattern.svg");
  background-size: 300%;
  background-repeat: repeat;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";

  @include break(s) {
    background-size: 100%;
  }
}

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main {
  position: relative;
  display: block;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 0 32px;

  &--7 {
    max-width: calc(130px * 7);
  }

  &--6 {
    max-width: calc(130px * 6);
  }

  &--5 {
    max-width: calc(130px * 5);
  }

  &--4 {
    max-width: calc(130px * 4);
  }

  @include break(s) {
    padding: 0 64px;
  }

  @include break(m) {
    padding: 0;
  }
}

.card {
  position: relative;

  h2:first-child {
    margin-top: 0;
  }
}

.card--fromLeft {
  margin-bottom: 208px;

  .container {
    padding: 48px 32px;
    width: calc(100% - 32px);
    margin-left: 0;
    z-index: 0;

    @include break(xs) {
      width: calc(100% - 8.53vw);
    }

    @include break(l) {
      margin-left: auto;
      width: 100%;
      padding: 48px 0;
    }

    h3,
    p {
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }

    p {
      font-size: 18px;
      line-height: 36px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -80px;
      // width: 100%;
      left: -100vw;
      right: 0;
      height: 80px;
      background-color: inherit;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: inherit;
      top: 0;
      bottom: -80px;
      left: -100vw;
      right: 0;
      z-index: -1;
    }
  }
}

.card--fromRight {
  margin-bottom: 208px;

  .container {
    padding: 48px 32px;
    width: calc(100% - 32px);
    margin-right: 0;
    z-index: 0;

    @include break(xs) {
      width: calc(100% - 8.53vw);
    }

    @include break(l) {
      margin-right: auto;
      width: 100%;
      padding: 48px 0;
    }

    h3,
    p {
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }

    p {
      font-size: 18px;
      line-height: 36px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -80px;
      // width: 100%;
      left: 0;
      right: -100vw;
      height: 80px;
      background-color: inherit;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: inherit;
      top: 0;
      bottom: -80px;
      left: 0;
      right: -100vw;
      z-index: -1;
    }
  }
}

.card--home {
  margin-top: 288px;
}

.card--halfPic {
  margin-bottom: 208px;

  @include break(s) {
    margin-bottom: 288px;
  }

  .container {
    display: block;

    @include break(s) {
      display: flex;
    }
  }

  .wrapper {
    max-width: 520px;
    width: 100%;
    background-color: $white;
    position: relative;
    // padding-right: 32px;
    padding: 48px 32px 48px 0;
    flex-shrink: 0;

    &::after {
      content: "";
      position: absolute;
      background-color: inherit;
      top: -80px;
      bottom: -80px;
      left: -100vw;
      right: 0;
      z-index: -1;
    }

    @include break(xs) {
      padding-right: 130px;
    }
  }

  h3 {
    margin-top: 0;
  }

  .img {
    background-size: cover;
    background-position: center;
    position: relative;
    // height: 100%;
    // width: calc(100% - 32px);
    // left: 64px;
    // top: 0;
    // bottom: -48px;
    margin-left: -32px;
    height: 320px;
    max-width: calc(520px + 32px);

    @include break(s) {
      height: auto;
      max-width: none;
      z-index: -2;
      margin-left: 0;
      margin-right: -64px;
      flex-grow: 1;
      flex-shrink: 0;
    }

    @include break(l) {
      width: 50vw;
    }
    //
    // @include break(s) {
    //   left: 50%;
    //   width: 50vw;
    //   transform: none;
    // }
  }

  &--about {
    .img {
      background-image: url("../img/about-pic.jpg");

      @include media-2x {
        background-image: url("../img/about-pic@2x.jpg");
      }

      @include media-3x {
        background-image: url("../img/about-pic@3x.jpg");
      }
    }
  }
}

.card--white {
  .container {
    background-color: $white;
  }
}

.card--category {
  position: relative;
  padding: 128px 0 139px;
  margin: 160px 0;
  z-index: 0;

  h1,
  h4 {
    width: 100%;
    max-width: 520px;
    margin: 52px 0;
  }

  h1 {
    margin-bottom: 61px;
  }

  h4 {
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 64px;
  }

  &::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }

  &:first-of-type,
  &:last-of-type {
    margin: 0;
  }

  &:last-of-type {
    margin-left: -64px;

    @include break(l) {
      margin-left: 0;
    }
  }
}

.card--design {
  &::before {
    background-color: $design;
  }

  &::after {
    background-image: url("../img/card-design.jpg");

    @include media-2x {
      background-image: url("../img/card-design@2x.jpg");
    }

    @include media-3x {
      background-image: url("../img/card-design@3x.jpg");
    }
  }
}

.card--develop {
  h1,
  h4 {
    color: $white;
  }

  &::before {
    background-color: $dev;
  }

  &::after {
    background-image: url("../img/card-develop.jpg");

    @include media-2x {
      background-image: url("../img/card-develop@2x.jpg");
    }

    @include media-3x {
      background-image: url("../img/card-develop@3x.jpg");
    }
  }
}

.card--tools {
  &::before {
    background-color: $tools;
  }

  &::after {
    background-image: url("../img/card-tools.jpg");

    @include media-2x {
      background-image: url("../img/card-tools@2x.jpg");
    }

    @include media-3x {
      background-image: url("../img/card-tools@3x.jpg");
    }
  }
}

.card--learn {
  h1,
  h4 {
    color: $white;
  }

  &::before {
    background-color: $learn;
  }

  &::after {
    background-image: url("../img/card-learn.jpg");

    @include media-2x {
      background-image: url("../img/card-learn@2x.jpg");
    }

    @include media-3x {
      background-image: url("../img/card-learn@3x.jpg");
    }
  }
}

.card--left {
  padding-left: 0;

  @include break(l) {
    padding-left: 390px;
  }

  &::before {
    right: -64px;

    @include break(s) {
      right: -32px;
    }
  }

  &::after {
    background-position: right;
    margin-left: -15vw;

    @include break(l) {
      background-position: unset;
    }
  }
}

.card--right {
  padding-left: 64px;
  margin-left: -64px;

  @include break(s) {
    padding-left: 96px;
  }

  @include break(l) {
    padding-left: 130px;
    margin-left: 0;
  }

  &::before {
    left: -32px;

    @include break(s) {
      left: -32px;
    }
  }

  &::after {
    margin-right: -15vw;
  }
}

.sc {
  text-transform: none;
  font-variant: small-caps;
}

.lc {
  text-transform: none;
}

.button {
  background-color: $design;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 rgba($black, .07), 0 4px 6px 0 rgba($space-cadet, .1);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 18px;
  padding: 19px 52px 17px 18px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: box-shadow .8s cubic-bezier(.2, 1, .25, 1);

  &::before {
    content: "";
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    background-image: linear-gradient(90deg, rgba($black, 0) 0%, rgba($black, .1) 50%, rgba($black, 0) 100%);
    transition: all 1.6s cubic-bezier(.2, 1, .25, 1);
  }

  &::after {
    content: "";
    width: 11px;
    height: 11px;
    background-color: $white;
    mask-image: url("../img/arrow-right.svg");
    position: absolute;
    top: 21px;
    right: 18px;
  }

  &:hover {
    box-shadow: 0 7px 14px 1px rgba(50,50,93,0.10), 0 3px 6px 1px rgba($black, 0.07);

    &::before {
      transform: translateX(-50%);
      opacity: .3;
    }

    &::after {
      animation: buttonArrow .8s cubic-bezier(.2, 1, .25, 1);
    }
  }
}

.article__content .button {
  border-bottom: 0;
}

@keyframes buttonArrow {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  49% {
    transform: translateX(8px);
    opacity: 0;
  }

  51% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button--design {
  background-color: $design;
}

.button--develop {
  background-color: $dev;
}

.button--tools {
  background-color: $tools;
}

.button--learn {
  background-color: $learn;
}

.button--contrast {
  font-family: "Axiforma";
  border: 0;
  cursor: pointer;

  &::after {
    top: 21.5px;
  }
}

.button--ghost {
  color: $white;
  background: none;
  margin-left: -16px;
  padding: 19px 52px 17px 18px;
  box-shadow: none;
  position: relative;
  transition: color .8s cubic-bezier(.2, 1, .25, 1);

  &::after {
    transform: rotate(90deg);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 17px;
    width: calc(100% - 34px);
    height: 2px;
    background-color: $white;
    background-image: none;
    transition: all .8s cubic-bezier(.2, 1, .25, 1);
  }

  &:hover {
    box-shadow: none;
    color: $space-cadet;

    &::before {
      width: 100%;
      transform: translateX(-17px);
      height: 100%;
      border-radius: 4px;
      z-index: -1;
      opacity: 1;
    }

    &::after {
      animation: buttonArrowDown .8s cubic-bezier(.2, 1, .25, 1);
      background-color: $space-cadet;
    }
  }
}

@keyframes buttonArrowDown {
  0% {
    transform: translateY(0) rotate(90deg);
    opacity: 1;
  }

  49% {
    transform: translateY(8px) rotate(90deg);
    opacity: 0;
  }

  51% {
    transform: translateY(-8px) rotate(90deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0) rotate(90deg);
    opacity: 1;
  }
}

.ityped-cursor {
  font-size: 1em;
  font-weight: 100;
  opacity: 1;
  animation: blink 0.5s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

.revealLeft {
  animation: revealLeft 1.6s cubic-bezier(.2, 1, .25, 1) both;
  animation-delay: .1s;
}

@keyframes revealLeft {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.revealCardLeft {
  &::before {
    animation: revealCardLeft 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .86s;
  }

  &::after {
    animation: revealCardLeft 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .1s;
  }

  h4 {
    animation: cardDown 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .6s;
  }

  h1 {
    animation: cardDown 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .75s;
  }

  .button {
    animation: cardDown 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .9s;
  }
}

@keyframes revealCardLeft {
  from {
    transform: translateX(-16px);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  to {
    transform: translateX(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.revealCardRight {
  &::before {
    animation: revealCardRight 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .86s;
  }

  &::after {
    animation: revealCardRight 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .1s;
  }

  h4 {
    animation: cardDown 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .6s;
  }

  h1 {
    animation: cardDown 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .75s;
  }

  .button {
    animation: cardDown 1.6s cubic-bezier(.2, 1, .25, 1) both;
    animation-delay: .9s;
  }
}

@keyframes revealCardRight {
  from {
    transform: translateX(16px);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  to {
    transform: translateX(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes cardDown {
  from {
    opacity: 0;
    transform: translateY(64px) scale(.9);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.cryptedmail::after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
