* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Axiforma", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-weight: 400;
  background-color: $alice-blue;
  background-image: url("../img/pattern.svg");
  background-size: 100%;
  background-repeat: repeat;
  text-rendering: optimizeLegibility;
}

.dev {
  position: absolute;
  width: 1440px;
  height: 1900px;
  background-image: url("../img/_devHome.png");
  background-size: contain;
  top: 0;
  z-index: -1;
}

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main {
  position: relative;
  display: block;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  &--7 {
    max-width: calc(130px * 7);
  }

  &--6 {
    max-width: calc(130px * 6);
  }

  &--5 {
    max-width: calc(130px * 5);
  }

  &--4 {
    max-width: calc(130px * 4);
  }
}

.pageHead {
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }
}

.card {
  position: relative;

  h2:first-child {
    margin-top: 0;
  }
}

.card--fromLeft {
  margin-bottom: 208px;

  .container {
    // padding: 48px 130px 48px 0;
    padding: 48px 0;
    z-index: 0;
    // max-width: 520px;

    h3,
    p {
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }

    p {
      font-size: 18px;
      line-height: 36px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -80px;
      // width: 100%;
      left: -100vw;
      right: 0;
      height: 80px;
      background-color: inherit;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: inherit;
      top: 0;
      bottom: -80px;
      left: -100vw;
      right: 0;
      z-index: -1;
    }
  }
}

.card--gridOffsetLeft {

}

.card--gridOffsetRight {

}

.card--white {
  .container {
    background-color: $white;
  }
}

.card--category {
  position: relative;
  padding: 128px 0 139px;
  margin: 160px 0;
  z-index: 0;

  h1,
  h4 {
    width: 100%;
    max-width: 520px;
    margin: 52px 0;
  }

  h1 {
    margin-bottom: 61px;
  }

  h4 {
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 64px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }

  &:first-of-type,
  &:last-of-type {
    margin: 0;
  }
}

.card--design {
  &::before {
    background-color: $design;
    background-image: url("../img/pattern-design.svg");
  }

  &::after {
    background-image: url("../img/card-design.jpg");
  }
}

.card--develop {
  h1,
  h4 {
    color: $white;
  }

  &::before {
    background-color: $dev;
    background-image: url("../img/pattern-dev.svg");
  }

  &::after {
    background-image: url("../img/card-develop.jpg");
  }
}

.card--tools {
  &::before {
    background-color: $tools;
    background-image: url("../img/pattern-tools.svg");
  }

  &::after {
    background-image: url("../img/card-tools.jpg");
  }
}

.card--learn {
  h1,
  h4 {
    color: $white;
  }

  &::before {
    background-color: $learn;
    background-image: url("../img/pattern-learn.svg");
  }

  &::after {
    background-image: url("../img/card-learn.jpg");
  }
}

.card--left {
  padding-left: 390px;

  &::before {
    right: -32px;
  }

  &::after {
    margin-left: -15vw;
  }
}

.card--right {
  padding-left: 130px;

  &::before {
    left: -32px;
  }

  &::after {
    margin-right: -15vw;
  }
}

.button {
  background-color: $design;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, rgba($black, 0) 0%, rgba($black, .1) 100%);
  box-shadow: 0 1px 3px 0 rgba($black, .07), 0 4px 6px 0 rgba($space-cadet, .1);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 18px;
  padding: 19px 52px 17px 18px;
  position: relative;
  transition: box-shadow .8s cubic-bezier(.2, 1, .25, 1);

  &::after {
    content: "";
    width: 11px;
    height: 11px;
    background-image: url("../img/arrow-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 19.5px;
    right: 18px;
  }

  &:hover {
    box-shadow: 0 7px 14px 1px rgba(50,50,93,0.10), 0 3px 6px 1px rgba(0,0,0,0.07);
  }
}

.button--design {
  background-color: $design;
}

.button--develop {
  background-color: $dev;
}

.button--tools {
  background-color: $tools;
}

.button--learn {
  background-color: $learn;
}
