$jet: #303030;
$alice-blue: #f0f5fa;
$space-cadet: #0a2850;
$neon-carrot: #0a283c;
$mellow-apricot: #ffb97d;
$lavender: #aa82d7;
$black: #000;
$white: #fff;

// Categories
$design: #9bb4fa;
// $dev: #fa3c5a;
$dev: #fa3c50;
$learn: #28dc64;
$tools: #faa000;
